footer.footer
  .footer__wrapper
    .footer__top
      .container
        .footer__top-wapper
          .footer__logo
            a(href="").footer__logo-img
              img(src="img/images/logo-foo.png", alt="") 
            ul.footer__logo-list
              li.footer__logo-item
                span Sáng: 
                time 8:00 - 10:00
              li.footer__logo-item
                span Chiều: 
                time 8:00 - 10:00
              li.footer__logo-item
                span Tối: 
                time 8:00 - 10:00
          .footer__contact
            h3.footer__contact-heading Liên Hệ
            a(href="tel:0911068661").footer__contact-phone 0911.068.661 - 0912.171.447
            a(href="mailto:tranminhngocxhh@gmail.com").footer__contact-mail tranminhngocxhh@gmail.com
            span CHARMING TRAN ACADEMY
            span Số 72, đường Trần Quang Diệu, quận Đống Đa, Hà Nội, Việt Nam
          .footer__map
            a(href="https://goo.gl/maps/CsJsJk9G5qJ2")
              img(src="img/images/img-maps.PNG", alt="").img_reponsive 
    .footer__copyright
      .container 
          span Giấy phép hoạt động số 1542/SYT-GPHĐ - Chứng chỉ hành nghề số 2473/HNO-CCHN - Giấy chứng nhận KD số 01A8013838
