.sidebar__wapper
  .sidebar__title
    h3 Danh Mục
  .sidebar__menu
    ul.sidebar__menu-list
      li.sidebar__menu-item
        a(href="").sidebar__open-down 
          i.icon.ion-ios-arrow-down
        a(href="").sidebar__menu-text Phi kim tăng trưởng tế bào
      li.sidebar__menu-item
        a(href="").sidebar__open-down 
          i.icon.ion-ios-arrow-down
        a(href="").sidebar__menu-text Phi kim tăng trưởng tế bào
      li.sidebar__menu-item
        a(href="").sidebar__open-down
          i.icon.ion-ios-arrow-down
        a(href="").sidebar__menu-text Phi kim tăng trưởng tế bào
      li.sidebar__menu-item
        a(href="").sidebar__open-down 
          i.icon.ion-ios-arrow-down
        a(href="").sidebar__menu-text Phi kim tăng trưởng tế bào
      li.sidebar__menu-item
        a(href="").sidebar__open-down 
          i.icon.ion-ios-arrow-down
        a(href="").sidebar__menu-text Phi kim tăng trưởng tế bào
      li.sidebar__menu-item
        a(href="").sidebar__open-down 
          i.icon.ion-ios-arrow-down
        a(href="").sidebar__menu-text Phi kim tăng trưởng tế bào
  .sidebar__title
   h3 Đăng Ký Học 
  .sidebar__form
    form 
      input(type="text" placeholder="Họ và Tên").register__input.w-100
      input(type="text" placeholder="Số Điện Thoại").register__input.w-100
      input(type="text" placeholder="Email").register__input.w-100
      .sidebar__box-checkbox 
        label(for="").item__checkbox
          input(type="checkbox").checkbox1
          i.checkbox
          span Chăm sóc da mặt cơ bản
      .sidebar__box-checkbox 
        label(for="").item__checkbox
          input(type="checkbox").checkbox1
          i.checkbox
          span Chăm sóc da mặt cơ bản
      .sidebar__box-checkbox 
        label(for="").item__checkbox
          input(type="checkbox").checkbox1
          i.checkbox
          span Chăm sóc da mặt cơ bản
      .sidebar__box-checkbox 
        label(for="").item__checkbox
          input(type="checkbox").checkbox1
          i.checkbox
          span Chăm sóc da mặt cơ bản
      .sidebar__box-checkbox 
        label(for="").item__checkbox
          input(type="checkbox").checkbox1
          i.checkbox
          span Chăm sóc da mặt cơ bản
      input(type="text" placeholder="Họ và Tên").register__input.w-100
      button(type="submit").bt-primary.sidebar--bt Đăng Ký
  .sidebar__banner
    img(src="img/banner/banner-2.jpg", alt="").img_reponsive
  .sidebar__news
    .sidebar__news-title
      h3 Bài Đọc Nhiều
    .sidebar__news-list
      .sidebar__news-item
        .sidebar__news-img
          a(href="")
            img(src="img/images/img-service-1.jpg", alt="").img_reponsive
        .sidebar__news-detail
          h3.sidebar-news__detail-title
            a(href="") Lễ tốt nghiệp học kỳ Autumn 2016
          .date-time
            span 08/07/2016 
              i.icon.ion-ios-email
            span admin
              i.icon.ion-ios-person-outline
      .sidebar__news-item
        .sidebar__news-img
          a(href="")
            img(src="img/images/img-service-2.jpg", alt="").img_reponsive
        .sidebar__news-detail
          h3.sidebar-news__detail-title
            a(href="") Lễ tốt nghiệp học kỳ Autumn 2016
          .date-time
            span 08/07/2016
              i.icon.ion-ios-email
            span admin
              i.icon.ion-ios-person-outline
      .sidebar__news-item
        .sidebar__news-img
          a(href="")
            img(src="img/images/img-service-3.jpg", alt="").img_reponsive
        .sidebar__news-detail
          h3.sidebar-news__detail-title
            a(href="") Lễ tốt nghiệp học kỳ Autumn 2016
          .date-time
            span 08/07/2016
              i.icon.ion-ios-email
            span admin
              i.icon.ion-ios-person-outline
      .sidebar__news-item
        .sidebar__news-img
          a(href="")
            img(src="img/images/img-service-4.jpg", alt="").img_reponsive
        .sidebar__news-detail
          h3.sidebar-news__detail-title
            a(href="") Lễ tốt nghiệp học kỳ Autumn 2016
          .date-time
            span 08/07/2016
              i.icon.ion-ios-email
            span admin
              i.icon.ion-ios-person-outline





