@import "mixins.scss";

$font-roboto: "Roboto";
$font-roboto-bold: "Roboto Bold";
$font-roboto-medium: "Roboto Medium";
$font-roboto-light:"Roboto-Light";

$font-default: "Helvetica,Arial," DejaVu Sans "," Liberation Sans ",Freesans,sans-serif";

$font-face-primary: $font-roboto;
$font-size-primary: 15px;
$background-primary: #ffffff;
$background-secon: #b85d9a;
$background-3: #a73280;
$text-color-primary: #353535;
$text-color-second: #747474;
$button-color-primary: #00aaac;
$border-color-primary:#e5e5e5;
$color-primary:#b85d9a;
$color-primary-blod: #93268f;
$color-white: #fff;
$color-orange: #e95b35;
$pagination-color:#353535;
$pagination-hover:#b85d9a;
$background-gray: #ebebeb;



$nav-mobie-color:#515151;
$nav-mobie-color-hover:#222222;
$nav-mobie-fontsize:14px;
$nav-mobie-back:#ffffff;
$nav-mobie-back-hover:#fff;
$nav-mobie-border:#fff;


$button-hover-primary:#b85d9a;


$owl-primary:#b85d9a;


$list-color-primary:#242424;
$list-color-hover:#b85d9a;
$list-border-color:#e5e5e5;


$list-button-border:#e5e5e5;
$list-button-color:#383838;
$list-button-color-hover:#b85d9a;

$radio-color:#b85d9a;
$radio-border:#999999;
$radio-size-outer:20px;
$radio-size-inner:12px;

$checkbox-color:#fff;
$checkbox-unchecked:#fff;
$checkbox-duration: .4s;
$checkbox-size:14px;
$checkbox-background:#b85d9a;
$slider-color:#b85d9a;
$slider-paganition:#b85d9a;
