.box-register-free {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    outline: 2px dashed $color-primary;
    border: 8px solid #fff;
    background-color: #fff4fc;
    padding: 20px;
}
.box-reg-free__title {
    font-size: 24px;
    font-weight: 500;
    display: block;

    b {
        color: $color-primary;
    }
}
.box-reg-free__text {
    padding-top: 10px;
    display: block;

    b {
        text-transform: uppercase;
    }
}
.register-free__form {
    margin-top: 20px;
}