.box-gift {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    outline: 2px dashed #b85d9a;
    border: 8px solid #fff;
    background-color: #fff4fc;
    padding: 20px;

    .bt-primary {
        display: flex;
        flex-direction: row-reverse;
        gap: 7px;

        @include mq(xxs) {
             width: 150px;
             margin: 0 auto;
          }
    }
}
.btn-orange {
    border: 1px solid #e95b35;
    background-color: #e95b35;
    &:hover {
        border: 1px solid #e95b35;
        background-color: #fff;
        color:#e95b35 !important;
    }
}
.btn-hover:hover  {
    color: #b85d9a !important;
    background-color: #fff;
    border-color: #b85d9a ;
}
.btn-hover {
    @include mq(xxs) {
        width: 230px !important;
        margin: 0 auto;
      }

    @include mq(m) {
        width: 235px !important;
        margin: 0 auto;
    }
}
.box-gift__text1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    display: block;
}
.box-gift__title {
    font-size: 24px;
    color: #b85d9a;
    font-weight: 600;
    line-height: 1.4em;
    display: block;
    margin-bottom: 10px;
}
.box-gift__text2 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4em;
    display: block;
    margin-bottom: 10px;
}
.box-gift__wrap-btn {
    display: flex;
    justify-content: center;
    gap: 30px;

    @include mq(xxs) {
        flex-direction: column;
      }
}
.box-gift__text3 {
    font-size: 15px;
    color: #353535;
    display: block;
    margin-top: 15px;
}