.list_comment {
    padding: 30px ;
}
.list-comment__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

}
.list-comment__item {
    width: calc(33.3333% - 30px);
    border: 1px solid #e5e5e5;
    padding: 15px;
    min-height: 140px;
}
.list-commnet__title {
    width: calc(33.3333% - 30px);
    padding: 15px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.list-commnet__title-link {
    color:#353535;
    text-decoration: underline;
    font-style: italic;
}
.list-commnet__title-link:hover {
    color: #b85d9a;
    text-decoration: underline;
}
.list-commnet__img {
    width: 108px;
    float: left;
}
.list-commnet__detail {
    width: calc(100% - 108px);
    padding-left: 15px;
    float: left;

    strong {
        font-weight: 400;
        color: #353535;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 14px;
        display: block;
        float: left;
        width: 100%;
        font-weight: bolder;
    }

    span {
        font-size: 14px;
        font-style: italic;
        color: #353535;
        display: block;
        margin-bottom: 5px;
        position: relative;
        padding-bottom: 5px;
        display: inline-block;
    }
    
    span::before {
        content: "";
        width: 32px;
        height: 1px;
        background-color: #747474;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    p {
        font-size: 14px;
        color: #747474;
        line-height: 1.4em;
    }
}
