@import "../helpers/_variables.scss";
@import "../helpers/_mixins.scss";
.nav-main {
  
  @include mq(xxs) {
    display: none;
  }
  @include mq(m) {
    display: block;
  }

}
.nav-main__wrap {
  border-bottom: 3px solid $color-primary;
}

.nav-main__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.nav-main__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-main__menu {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .nav-main__list-menu {
    display: flex;
    .nav-main__item-lv1{
      display: flex;
      & > a {
        position: relative;
        display: inline-block;
        font-family: $font-roboto-medium;
        padding: 25px 15px;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 700;
        color: $text-color-primary;

        @include mq(m) {
          padding: 15px 10px;
        }

        @include mq(l) {
          padding: 20px 16px;
        }

        &:hover {
          color: $color-primary-blod;
        }

        .icon {
          position: relative;
          margin-right: 8px;
          font-size: 18px;
          top: 1px;
        }
      }

      &.is-active {
        a {
          color: $color-primary-blod;
        }
      }
    }
  }
}
.nav-main__item-lv1:hover {

  & > .nav-menu__list-lv2 {
    visibility: visible;
  }
}
.m-relative {
  position: relative;
}
.nav-menu__list-lv2 {
  visibility: hidden;
  background-image: url(../../img/banner/img-mega-menu.png);
  width: 100%;
  position: absolute;
  left: 0;
  top: 62px;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: $color-white;
  box-shadow: 0 2px 13px #8c8c8c;
  padding-right: 15%;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 70px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  z-index: 1;
  transition: .3s ease-in-out;

  @include mq(m) {
    top: 60px;
  }
  @include mq(ml) {
    top: 62px;
  }
}
.nav-menu__item-lv2 {
    width: calc(100%/3 - 20px);
    flex-direction: column;
    & > a {
      font-size: 14px;
      color: $color-primary;
      margin-top: 20px;
      text-transform: uppercase;
      display: block;
      border-bottom: 1px solid #989898;
      width: 150px;
      padding-bottom: 7px;
      margin-bottom: 7px;
      position: relative;
      &::before {
        content: "";
        width: 17px;
        height: 17px;
        position: absolute;
        right: -17px;
        top: 17px;
        background-image: url(../../img/icons/ico-mega-menu.png);
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    & > a {
      font-weight: 600;
    }
}
.nav-menu__list-lv3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;

}
.nav-menu__item-lv3 {
  display: flex;
  a {
    font-size: 14px;
    line-height: 1.4em;
    display: block;
  }
}

.nav-main__item-lv1:hover {

  .nav-menu__list-style2 {
    transform: translateX(30px);
    opacity: 1;
  }
}
.nav-menu__list-style2 {
  opacity: 0;
  position: absolute;
  transition: .2s ease-out;
  left: -30px;
  top: 62px;
  background-color: $background-secon;
  border-radius: 0 0 8px 8px;
  width: 220px;

  @include mq(sm) {
    top: 60px;
  }
  @include mq(ml) {
    top: 62px;
  }
}
.nav-menu__item-style2 {
  display: block;
  float: left;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #ca7bb0;
   a {
    display: block;
    float: left;
    font-size: 15px;
    color: $color-white;
    padding: 10px 15px;
    font-family: robotor;
    width: 100%;
    position: relative;
    transition: all .3s ease-in-out;

    &::after {

      content: "";
      width: 6px;
      height: 6px;
      background-color: $background-secon;
      position: absolute;
      opacity: 0;
      top: 17px;
      left: 15px;
      border-radius: 3px;
      transition: all .3s ease-in-out;
    }

    &:hover {
      color: $color-white;
      padding-left: 30px;
      transition: all .3s ease-in-out;

      &::after {
        background-color: $color-white;
        opacity: 1;
      }
    }
   }
}
