.nav-mobie__wrapper {
    width: 100%;
    height: 50px;
    background: #b85d9a;
    border-bottom: 1px solid #b85d9a;
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-mobie__togger {
    width: 60px;
    height: 50px;
    position: relative;
    text-align: center;
}
.nav-mobie__togger-link {
    width: 100%;
    height: 100%;
    border: 0;
    background: 0 0;
    cursor: pointer;
    display: block;
    text-align: center;
    line-height: 50px;
    padding-top: 4px;
}
.togger-wrapper {
    width: 32px;
    height: 20px;
    position: relative;
    display: inline-block;

    .line {
        display: block;
        background: #ecf0f1;
        width: 32px;
        height: 3px;
        position: absolute;
        left: 0;
        border-radius: 1.5px;
        transition: all .5s;
    }

    .line-1 {
        top: 0;
    }
    .line-2 {
        top: 50%;
    }
    .line-3 {
        top: 100%;
    }
}
.nav-mobie__logo {
    line-height: 39px;
    display: block;
    text-align: center;
    height: 50px;
    padding: 5px;
}
.nav-mobie__logo-link {
    display: block;
    height: 100%;

    img {
        max-width: 100%;
        vertical-align: middle;
        max-height: 100%;
        display: inline-block;
    }
}
.nav-mobie__search {
    border-radius: 18px;
    text-align: center;
    line-height: 36px;
    color: #fff;
    font-size: 30px;
    width: 60px;

    
    span {
        padding-right: 10px;
    }
}
.nav-mobie__menu {
    transform: translateX(-100%);
    opacity: 0;
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    width: 80%;
    background-color: #b85d9a;
    z-index: 10000;
    transition: all 0.5s;
    border-right: 1px solid #fff;
}
.nav-mobie__menu-heading {
    border-bottom: 1px solid #fff;
    line-height: 20px;
    height: 50px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
}
.nav-mobie__menu-list {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #fff;
    font-size: 16px;
}
.nav-mobie__menu-item  {
    padding-left: 20px;
    
}
.active {
    transform: translateX(-0%);
    opacity: 1;
    transition: all 0.5s;
}
.nav-mobie__menu-close {
    position: absolute;
    right: 12px;
    top: 12px;

    color: #fff;

     img {
        height: 30px;
        width: 30px;
        color: #fff;
     }
}
.nav-mobie {
    @include mq(xxs) {
        display: block;
      }
      @include mq(m) {
        display: none;
      }
}
.loader--hidden {
    opacity: 0;
    visibility: hidden;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #b85d9a;
    z-index: 10000;
}
.icon-loading-wrap {
    width: 60px;
    height: 60px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto auto;
    top: 0;
    bottom: 0;
    background-image: url(../../img/icons/ico-loading1.png);
    background-position: center center !important;
    background-repeat: no-repeat !important;
    animation: spin 1.25s linear infinite;
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}