.content__wapper {
    margin-top: 30px;
    h1 {
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: 600;
    }
}
.content-service > strong {
    font-size: 14px;
}
.content-service__title {
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
}
.content-service__list {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.content-service__item {
    padding: 2px 0 2px 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 7px;
    justify-content: start;
}
.content-service__banner {
    display: inline-block;
    margin: 10px 0;
}
.content-service__title {
    font-size: 24px;
    margin-bottom: 15px;
}
.content-service__text {
    color: #353535;
}
.content-service__img-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 15px 0;
}
.list-ruler__title {
    font-size: 24px;
    margin-bottom: 15px;
}
.list-ruler__list {
    outline: 1px dashed #d6a1c4;
    border: 3px solid #fff;
    padding: 20px 25px;
    background-color: #f4f4f4;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}
.list-ruler__item {
    padding: 7px 0 7px 25px;
    width: 100%;
    color: #353535;
    font-size: 14px;
    position: relative;
    font-weight: 500;

    &::before {
        content: "\f375";
        font-size: 18px;
        color: #353535;
        font-family: Ionicons;
        position: absolute;
        left: 0;
        top: 5px;
    }
}
.list-ruler__title.bg-img {
    padding-top: 55px;
    background-image: url(../../img/banner/bg-title-ruler.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-left: 57px;
}