.register {
    padding: 30px;

    @include mq(xxs) {
        padding: 0;
      }
}
.register__wrap {
    padding: 30px 30px 20px 30px;
    background-image: url(../../img/banner/bg-register.jpg);
    background-position: center center;
    background-size: cover;
    margin: 20px 0;
    display: flex;
    gap: 50px;
    flex-direction: row;
    justify-content: space-between;

    @include mq(xxs) {
        flex-wrap: wrap;
      }
}
.register-text {
    width: 42%;

    @include mq(xxs) {
        width: 100%;
    }

    @include mq(m) {
        width: 42%;
    }
}
.register__form {
    @include mq(xxs) {
        width: 100%;
    }
    @include mq(m) {
        width: 50%;
    }
}
.register-text__title {
    color: $color-white;
    font-size: 24px;
    margin-bottom: 10px;
}
.register-text__desc {
    color: $color-white;
    line-height: 1.4;
}
.register__input {
    width: calc(33.333% - 10px);
    margin-left: 10px;
    height: 44px;
    background-color: $color-white;
    border: 1px solid $color-white;
    float: left;
    margin-bottom: 10px;
    text-indent: 10px;
    font-style: italic;
    font-size: 14px;
    color: $text-color-primary;
    outline-color: blue;

    @include mq(xxs) {
        width: 100%;
        margin-left:0
    }

    @include mq(m) {
        width: calc(33.333% - 10px);
        margin-left: 10px;
      }

}
.input-double {
    width: calc(66.666% - 10px);

    @include mq(xxs) {
        width: 100%;
    }
    @include mq(m) {
        width: calc(66.666% - 10px);
      }
}
.register__btn {
    width: calc(33.333% - 10px);
    margin-left: 10px;
    height: 44px;
    background-color: $background-3;
    border: 2px solid $background-3;
    color: $color-white;
    font-size: 18px;
    transition: .3s ease-in-out;

    @include mq(xxs) {
        width: 100%;
        margin-left: 0;
    }
    @include mq(m) {
        width: calc(33.333% - 10px);
    }
}
.register__btn:hover {
    border-color: $color-white;
}