.about-home
    .container.about-home__container
        .about-home__wrap
            .about-home__intro 
                h2 Giới thiệu
                p liên kết đào tạo với Hiệp hội thẩm mỹ chuyên nghiệp Quốc tế GPF – tổ chức cấp chứng chỉ thẩm mỹ uy tín nhất Hàn Quốc. Hằng năm, nhiều học viên đã ra nước ngoài khởi nghiệp và rất thành công...
                ul.about-home__menu 
                    li.about-home__item Tổ chức cấp chứng chỉ thẩm mỹ uy tín nhất Hàn Quốc. Hằng năm, nhiều học viên đã ra nước ngoài khởi nghiệp và rất thành công...
                    li.about-home__item Tổ chức cấp chứng chỉ thẩm mỹ uy tín nhất Hàn Quốc. Hằng năm, nhiều học viên đã ra nước ngoài khởi nghiệp và rất thành công...
                    li.about-home__item Tổ chức cấp chứng chỉ thẩm mỹ uy tín nhất Hàn Quốc. Hằng năm, nhiều học viên đã ra nước ngoài khởi nghiệp và rất thành công...
                a.bt-primary Đăng Ký Ngay
            .about-home__video
                a.about-home__link
                    img(src="img/banner/Layer 10.png", alt="")