.box-cate-home
    .container 
        .box-cate__list
            .box-cate__item
                a(href="#").box-cate__link 
                    span Chuyên ngành 
                    h2 Chăm Sóc Da
                    p Ngành chăm sóc da- spa đang được coi là lĩnh vực ngành nghề thời thượng “hái ra tiền”, mang đến cơ hội việc làm
                a(href="#").box-cate__link 
                    span Chuyên ngành 
                    h2 Chăm Sóc Da
                    p Ngành chăm sóc da- spa đang được coi là lĩnh vực ngành nghề thời thượng “hái ra tiền”, mang đến cơ hội việc làm
                a(href="#").box-cate__link 
                    span Chuyên ngành 
                    h2 Chăm Sóc Da
                    p Ngành chăm sóc da- spa đang được coi là lĩnh vực ngành nghề thời thượng “hái ra tiền”, mang đến cơ hội việc làm
            .box-cate__item 
                .box-cate__img
                    img(src="img/banner/img-doctor.png", alt="").img_reponsive
                .box-cate__detal 
                    h2 Chuyên Ngành Đào Tạo 
                    b CharmingTran Academy
            .box-cate__item
                a(href="#").box-cate__link 
                    span Chuyên ngành 
                    h2 Chăm Sóc Da
                    p Ngành chăm sóc da- spa đang được coi là lĩnh vực ngành nghề thời thượng “hái ra tiền”, mang đến cơ hội việc làm
                a(href="#").box-cate__link 
                    span Chuyên ngành 
                    h2 Chăm Sóc Da
                    p Ngành chăm sóc da- spa đang được coi là lĩnh vực ngành nghề thời thượng “hái ra tiền”, mang đến cơ hội việc làm
                a(href="#").box-cate__link 
                    span Chuyên ngành 
                    h2 Chăm Sóc Da
                    p Ngành chăm sóc da- spa đang được coi là lĩnh vực ngành nghề thời thượng “hái ra tiền”, mang đến cơ hội việc làm