.box-gift
    span.box-gift__text1 Để trở thành khách hàng may mắn của tháng, nhận được
    h2.box-gift__title Ưu Đãi Giảm 40% Học Phí
    span.box-gift__text2 HÃY NHANH TAY ĐĂNG KÝ:
    .box-gift__wrap-btn
        a(href="tel:0911068661").bt-primary.btn-orange 0911.068.661
            i.icon.ion-ios-telephone
        a(href="").bt-primary ĐĂNG KÝ HỌC NGAY
            i.icon.ion-arrow-right-b
    span.box-gift__text3  Chương trình khuyến mại áp dụng từ từ 15/06 – 25/06/2017 tại chuỗi hệ thống trên toàn Quốc.

