.box-register-free
    h2.box-reg-free__title Đăng Ký Học Thử 
        b Miễn Phí
    span.box-reg-free__text Đăng kí tham dự học thử 
        b phun thêu Hàn Quốc
    .register-free__form
        input(type="text" placeholder="Họ và Tên").register__input
        input(type="text" placeholder="Số điện thoại").register__input
        input(type="text" placeholder="Email").register__input
        input(type="text" placeholder="Lời nhắn").register__input.input-double
        button.register__btn Đăng Ký Học Ngay


