.class-opening 
    .container
        .class-opening__wrap
            h2.class-opening__title Khóa Học Sắp Khai Giảng
            .class-opening__list 
                .class-opening__left
                    .class-opening__img
                        a(href="").class-opening__link
                            img(src="img/images/img-class-1.jpg", alt="")
                        a(href="").bt-primary.class-opening__btn Đăng ký ngay
                        .discount.class-opening__discount
                            b -50
                                small %
                            span Học Phí
                    .class-opening__detal
                        h3.class-opening-left__title 
                            a Khoá học chăm sóc da toàn diện khai giảng trong tháng 10
                        .class-opening__date-time
                            i Dự Khai Giảng
                                b   23/10/2017

                            i    Lộ trình học: 
                               strong 15 bài học
                .class-opening__right
                    .class-opening-right__list
                        .class-opening-right__item 
                            a(href="").class-opening-right__link
                                span +
                                b Đăng Ký
                            .class-opening-right__detail
                                h3
                                    a Khoá học chăm sóc da cao cấp tháng 10
                                .class-opening__date-time
                                    i Dự Khai Giảng
                                        b   23/10/2017

                                    i    Lộ trình học: 
                                        strong 15 bài học
                        .class-opening-right__item 
                            a(href="").class-opening-right__link
                                span +
                                b Đăng Ký
                            .class-opening-right__detail
                                h3
                                    a Khoá học chăm sóc da cao cấp tháng 10
                                .class-opening__date-time
                                    i Dự Khai Giảng
                                        b   23/10/2017

                                    i    Lộ trình học: 
                                        strong 15 bài học
                        .class-opening-right__item 
                            a(href="").class-opening-right__link
                                span +
                                b Đăng Ký
                            .class-opening-right__detail
                                h3
                                    a Khoá học chăm sóc da cao cấp tháng 10
                                .class-opening__date-time
                                    i Dự Khai Giảng
                                        b   23/10/2017

                                    i    Lộ trình học: 
                                        strong 15 bài học
                        .class-opening-right__item 
                            a(href="").class-opening-right__link
                                span +
                                b Đăng Ký
                            .class-opening-right__detail
                                h3
                                    a Khoá học chăm sóc da cao cấp tháng 10
                                .class-opening__date-time
                                    i Dự Khai Giảng
                                        b   23/10/2017

                                    i    Lộ trình học: 
                                        strong 15 bài học
                        a.class-opening-right__btn Xem Nhiều Khóa Học Khác                 
                        