.contact
    .container
        .contact__wapper
            .contact__detail
                h2.contact__detail-title Liên hệ với Charming Tran Academy
                p.contact__detail-desc Charming Tran  hân hạnh mang đến quý khách hàng những dịch vụ làm đẹp tốt nhất. Charming Tran luôn làm mới mình bằng những công nghệ hiện đại và tiên tiến với mong muốn ngày một phục vụ quý khách hàng tốt hơn. Hãy liên hệ với Charming Tran để được hỗ trợ tốt nhất. Trân trọng cảm ơn!
                ul.contact__detail-ul
                    li.contact__detail-li
                        span.title Thời gian
                        span.strong Monday - Friday:  9:00am - 6:00pm
                    li.contact__detail-li
                        span.title Địa chỉ
                        span Số 72, đường Trần Quang Diệu, quận Đống Đa, Hà Nội, Việt Nam
                    li.contact__detail-li
                        span.title Điện thoại: 
                        a(href="tel:3105551213").strong 310.555.1213
                    li.contact__detail-li
                        span.title Pax: 
                        span 310.555.1213
                    li.contact__detail-li
                        span.title Email: 
                        span someemail@dominn.com                
            .contact__form
                form(action="")
                    input(type="text" placeholder="Nguyễn Văn A").input-form
                    input(type="text" placeholder="Điện thoại ").input-form
                    input(type="text" placeholder="Email").input-form
                    textarea(name="",  rows="6" placeholder="Tiêu đề của bạn").input-form.textare-form
                    button.bt-primary.w-50.btn-hover Gửi liên hệ
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.2233530175636!2d105.76800597512901!3d21.023747280624306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454af81dc4c09%3A0xf53b6a0d28f41a5b!2zNjUgTeG7uSDEkMOsbmggMSwgTeG7uSDEkMOsbmgsIFThu6sgTGnDqm0sIEjDoCBO4buZaSAxMDAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1684595215170!5m2!1svi!2s",width="600",height="450", style="border:0;",loading="lazy" ,referrerpolicy="no-referrer-when-downgrade",allowfullscreen="" ).contact__map