.crumbar
    .container
        .crumber__container
            .crumber__left
                h2.crumber__heading Chuyên Ngành Đào Tạo 
                ul.crumber__list
                    li.crumber__item
                        a(href="") Trang Chủ
                    li.crumber__item.crumber--active
                        a(href="") -> Chuyên ngành đào tạo
            .crumber__search
                form.crumber__form
                    input(type="text").crumber__input
                    button(type="submit").crumber__btn
                        i.icon.ion-ios-search-strong


            