h1 Khoá Học : Chăm Sóc Da Mặt Cơ Bản
.content-service
    strong Là một trong những đơn vị đi đầu trong việc áp dụng công nghệ cao vào chương trình đào tạo, Học viện Charming Tran tự hào mang đến chương trình dạy chăm sóc da mặt công nghệ cao uy tín, chất lượng hàng đầu Hà Nội.
    ul.content-service__list
        li.content-service__item Ngành chăm sóc da,spa đang “khát” nhân lực trầm trọng” 
            i.icon.ion-ios-arrow-right
        li.content-service__item Học nghề chăm sóc da, spa là sự lựa chọn khôn ngoan của giới trẻ Việt”
            i.icon.ion-ios-arrow-right
        li.content-service__item Ngành chăm sóc da,spa đóng vai trò quan trọng tôn vinh vẻ đẹp phụ nữ hiện đại”
            i.icon.ion-ios-arrow-right
    a(href="").content-service__banner
        img(src="img/banner/banner-3.jpg", alt="").img_reponsive
    p.content-service__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    p.content-service__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    p.content-service__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    h2.content-service__title  Đội Ngũ Giảng Viên Hàng Đầu
    p.content-service__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .content-service__img-list.list-3x1
        a(href="").content-service__img-item
            img(src="img/images/img-service-1.jpg", alt="")
        a(href="").content-service__img-item
            img(src="img/images/img-service-2.jpg", alt="")
        a(href="").content-service__img-item
            img(src="img/images/img-service-3.jpg", alt="")
    h2.content-service__title Phương Pháp Học Tập Khoa Học
    p.content-service__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .content-service__img-list.list-2x1 
        a(href="").content-service__img-item
            img(src="img/images/img-service-4.jpg", alt="")                                                                                                   
        a(href="").content-service__img-item
            img(src="img/images/img-service-5.jpg", alt="")                                                                                                                           
.list-ruler
    h2.list-ruler__title Lợi Ích Của Khóa Học
    ul.list-ruler__list
        li.list-ruler__item Nắm được các kiến thức cơ bản về ngành chăm sóc da nói chung và chăm sóc da mặt nói riêng
        li.list-ruler__item Tiếp cận các kỹ thuật và phương pháp trị liệu thẩm mỹ bằng công nghệ cao hiện đại nhất hiện nay
        li.list-ruler__item Cơ hội việc làm cao
        li.list-ruler__item Thu nhập hấp dẫn
        li.list-ruler__item Trực tiếp Tiến sĩ. Bác sĩ - nhưng hàng đầu giảng dạy
.list-ruler
    h2.list-ruler__title.bg-img Lợi Ích Của Khóa Học
    ul.list-ruler__list
        li.list-ruler__item Nắm được các kiến thức cơ bản về ngành chăm sóc da nói chung và chăm sóc da mặt nói riêng
        li.list-ruler__item Tiếp cận các kỹ thuật và phương pháp trị liệu thẩm mỹ bằng công nghệ cao hiện đại nhất hiện nay
        li.list-ruler__item Cơ hội việc làm cao
        li.list-ruler__item Thu nhập hấp dẫn
        li.list-ruler__item Trực tiếp Tiến sĩ. Bác sĩ - nhưng hàng đầu giảng dạy
