.link-cate
    .container.link-cate__container
        .link-cate__list
            .link-cate__item 
                .link-cate__img
                .link-cate__detal
                    .link-cate__title 
                        h3 10 Năm Giảng Dạy
                    .link-cate__desc
                        p Học viện thẩm mỹ được thành lập uy tín có hơn 10 năm kinh nghiệm trong ngành chăm sóc sắc đẹp.
            .link-cate__item 
                .link-cate__img
                .link-cate__detal
                    .link-cate__title 
                        h3 10 Năm Giảng Dạy
                    .link-cate__desc
                        p Học viện thẩm mỹ được thành lập uy tín có hơn 10 năm kinh nghiệm trong ngành chăm sóc sắc đẹp.
            .link-cate__item 
                .link-cate__img
                .link-cate__detal
                    .link-cate__title 
                        h3 10 Năm Giảng Dạy
                    .link-cate__desc
                        p Học viện thẩm mỹ được thành lập uy tín có hơn 10 năm kinh nghiệm trong ngành chăm sóc sắc đẹp.
            .link-cate__item 
                .link-cate__img
                .link-cate__detal
                    .link-cate__title 
                        h3 10 Năm Giảng Dạy
                    .link-cate__desc
                        p Học viện thẩm mỹ được thành lập uy tín có hơn 10 năm kinh nghiệm trong ngành chăm sóc sắc đẹp.
