.list_comment
    .container 
        .list-comment__list
            .list-comment__item
                .list-commnet__img
                    img(src="img/images/img-comment-1.jpg", alt="")
                .list-commnet__detail
                    strong HV.Trần Thị Minh Hương
                    span Khóa:
                        a(href="") Chăm Sóc Da
                    p Sinh sống tại nước ngoài vẫn về Việt Nam học thẩm mỹ
            .list-commnet__title 
                img(src="img/icons/ico-comment.png", alt="").list-comment__title-img
                h3.list-comment__title-heading HỌC VIÊN TIÊU BIỂU 
                a(href="").list-commnet__title-link Xem tất cả 
            .list-comment__item
                .list-commnet__img
                    img(src="img/images/img-comment-2.jpg", alt="")
                .list-commnet__detail
                    strong HV.Trần Thị Minh Hương
                    span Khóa:
                        a(href="") Chăm Sóc Da
                    p Sinh sống tại nước ngoài vẫn về Việt Nam học thẩm mỹ
            .list-comment__item
                .list-commnet__img
                    img(src="img/images/img-comment-3.jpg", alt="")
                .list-commnet__detail
                    strong HV.Trần Thị Minh Hương
                    span Khóa:
                        a(href="") Chăm Sóc Da
                    p Sinh sống tại nước ngoài vẫn về Việt Nam học thẩm mỹ
            .list-comment__item
                .list-commnet__img
                    img(src="img/images/img-comment-4.jpg", alt="")
                .list-commnet__detail
                    strong HV.Trần Thị Minh Hương
                    span Khóa:
                        a(href="") Chăm Sóc Da
                    p Sinh sống tại nước ngoài vẫn về Việt Nam học thẩm mỹ                 
            .list-comment__item
                .list-commnet__img
                    img(src="img/images/img-comment-5.jpg", alt="")
                .list-commnet__detail
                    strong HV.Trần Thị Minh Hương
                    span Khóa:
                        a(href="") Chăm Sóc Da
                    p Sinh sống tại nước ngoài vẫn về Việt Nam học thẩm mỹ