.list-news
    h2.list-news__title Danh sách tin
    .list-news__list
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-1.jpg", alt="").img_reponsive
                    span.list-news__overlay
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-2.jpg", alt="").img_reponsive
                    span.list-news__overlay
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-3.jpg", alt="").img_reponsive
                    span.list-news__overlay
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-4.jpg", alt="").img_reponsive
                    span.list-news__overlay
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-5.jpg", alt="").img_reponsive
                    span.list-news__overlay
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-3.jpg", alt="").img_reponsive
                    span.list-news__overlay 
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-1.jpg", alt="").img_reponsive
                    span.list-news__overlay 
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-2.jpg", alt="").img_reponsive
                    span.list-news__overlay 
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-4.jpg", alt="").img_reponsive
                    span.list-news__overlay 
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-1.jpg", alt="").img_reponsive
                    span.list-news__overlay 
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-5.jpg", alt="").img_reponsive
                    span.list-news__overlay 
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-1.jpg", alt="").img_reponsive
                    span.list-news__overlay 
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-2.jpg", alt="").img_reponsive
                    span.list-news__overlay 
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-3.jpg", alt="").img_reponsive
                    span.list-news__overlay 
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
        .list-news__item
            .list-news__img
                a(href="").list-news__img1
                    img(src="img/images/img-news-4.jpg", alt="").img_reponsive
                    span.list-news__overlay 
            .list-news__detail
                h3.list-news__detail-title
                    a(href="") Lễ tốt nghiệp học kỳ Autumn 2016 “Bệ phóng mơ ước” cho hơn 400...
                .date-time
                    span.date-time__time 29/15/2015
                        i.icon.ion-ios-email
                    span.date-time__admin admin
                        i.icon.ion-ios-person-outline
    .paging
        .paging__wapper
            ul.paging__ul
                li.paging__li
                    a(href="").paging__link 1
                li.paging__li
                    a(href="").paging__link 2
                li.paging__li
                    a(href="").paging__link 3
                li.paging__li
                    a(href="").paging__link 4
                li.paging__li
                    a(href="").paging__link 5
                li.paging__li
                    a(href="").paging__link 6
                li.paging__li
                    a(href="").paging__link 
                        i.icon.ion-ios-arrow-right