.nav-mobie
    .nav-mobie__wrapper
        .nav-mobie__togger
            .nav-mobie__togger-link
                span.togger-wrapper
                    span.line.line-1
                    span.line.line-2
                    span.line.line-3
        .nav-mobie__logo
            a(href="").nav-mobie__logo-link
                img(src="img/images/logo-mobie.png", alt="").img
        .nav-mobie__search
            form(action="").nav-mobie__search-form
                //- input(type="text").nav-mobie__search-input
                span.icon.ion-ios-search-strong
    .nav-mobie__menu
        .nav-mobie__menu-heading
            span Menu
            span.nav-mobie__menu-close 
                img(src="img/icons/close-line.svg", alt="")
        ul.nav-mobie__menu-list
            li.nav-mobie__menu-item 
                a(href="home.html") Trang chủ
            li.nav-mobie__menu-item 
                a(href="home.html") Giới Thiệu
            li.nav-mobie__menu-item 
                a(href="product-detail.html") Chuyên ngành đào tạo
            li.nav-mobie__menu-item 
                a(href="") Tuyển sinh
            li.nav-mobie__menu-item
                a(href="") Học phí
            li.nav-mobie__menu-item 
                a(href="news.html") Tin Tức 
            li.nav-mobie__menu-item
                a(href="contact.html") Liên Hệ
            
