.nav-main
  .nav-main__wrap
    .container.nav-main__container
      .nav-main__inner
        .nav-main__logo
          a(href='#').nav-main__logo-img
            img(src="img/icons/Logo.png", alt="")
        .nav-main__menu
          ul.nav-main__list-menu
            li.nav-main__item-lv1.is-active
              a(href="home.html" title="")
                span Trang chủ 
            li.nav-main__item-lv1
              a(href="info.html" title="")
                span Giới thiệu
            li.nav-main__item-lv1
              a(href="product-detail.html" title="")
                span Chuyên ngành đào tạo
              ul.nav-menu__list-lv2
                li.nav-menu__item-lv2
                  a(href="") Phun xăm thẩm mỹ
                  ul.nav-menu__list-lv3
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3
                      a(href="") Neque porro
                    li.nav-menu__item-lv3
                      a(href="") Neque Quies
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3  
                      a(href="") Quisquam
                li.nav-menu__item-lv2
                  a(href="") Phun xăm thẩm mỹ
                  ul.nav-menu__list-lv3
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3
                      a(href="") Neque porro
                    li.nav-menu__item-lv3
                      a(href="") Neque Quies
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3  
                      a(href="") Quisquam
                li.nav-menu__item-lv2
                  a(href="") Phun xăm thẩm mỹ
                  ul.nav-menu__list-lv3
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3
                      a(href="") Neque porro
                    li.nav-menu__item-lv3
                      a(href="") Neque Quies
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3  
                      a(href="") Quisquam
                li.nav-menu__item-lv2
                  a(href="") Phun xăm thẩm mỹ
                  ul.nav-menu__list-lv3
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3
                      a(href="") Neque porro
                    li.nav-menu__item-lv3
                      a(href="") Neque Quies
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3  
                      a(href="") Quisquam
                li.nav-menu__item-lv2
                  a(href="") Phun xăm thẩm mỹ
                  ul.nav-menu__list-lv3
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3
                      a(href="") Neque porro
                    li.nav-menu__item-lv3
                      a(href="") Neque Quies
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3  
                      a(href="") Quisquam
                li.nav-menu__item-lv2
                  a(href="") Phun xăm thẩm mỹ
                  ul.nav-menu__list-lv3
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3
                      a(href="") Neque porro
                    li.nav-menu__item-lv3
                      a(href="") Neque Quies
                    li.nav-menu__item-lv3
                      a(href="") Chăm sóc da
                    li.nav-menu__item-lv3  
                      a(href="") Quisquam
            li.nav-main__item-lv1.m-relative
              a(href="blog.html" title="")
                span Tuyển sinh
              ul.nav-menu__list-style2
                li.nav-menu__item-style2
                  a(href="") Chăm sóc da
                li.nav-menu__item-style2
                  a(href="") Quản lý spa
                li.nav-menu__item-style2
                  a(href="") Tạo mẫu tóc 
                li.nav-menu__item-style2
                  a(href="") Phun Xăm
                li.nav-menu__item-style2
                  a(href="") Trang Điểm
                li.nav-menu__item-style2
                  a(href="") vẽ Móng
            li.nav-main__item-lv1
              a(href="partner.html" title="")
                span Học phí
            li.nav-main__item-lv1
              a(href="news.html" title="")
                span Tin Tức
            li.nav-main__item-lv1
              a(href="contact-us.html" title="")
                span Hỏi đáp
            li.nav-main__item-lv1
              a(href="contact.html" title="")
                span Liên Hệ

