.register-email 
    .container
        .register_email__wapper
            .register-email__text
                h3 Nhận Khuyến Mãi
                p Consumer Psychology In The  Consumer Psychology In The Industrial And Manufacturing Equipment MarketplaceIndustrial 
            .register-email__form
                form(action="", method="post")
                    input(type="text" placeholder="Email của bạn...?").register-email__input
                    button(type="submit").register-email__btn Đăng Ký