.register
    .container
        .register__wrap 
            .register-text
                h3.register-text__title Đăng Ký Tư Vấn
                p.register-text__desc There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable
            .register__form
                input(type="text" placeholder="Họ và Tên").register__input 
                input(type="text" placeholder="Số Điện Thoại").register__input 
                input(type="text" placeholder="Khóa học cần tư vấn?*").register__input 
                input(type="text" placeholder="Email").register__input.input-double
                button(type="submit").register__btn Đăng Ký
                