extends ../_layouts/_layouts
include ../_mixins/_image

block content
  .main-page
    include ../_components/_crumbar
    include ../_components/_contact-us
    include ../_components/_register_email