extends ../_layouts/_layouts
include ../_mixins/_image

block variables
  - var title='Home'

block content
  .main-pageHome
    include  ./_home/_carousel-banner
    include ../_components/_link-cate_pageHome
    include ../_components/_about_home

