extends ../_layouts/_layouts
include ../_mixins/_image

block content
  .main-page
    include ../_components/_crumbar
    .container
      .main__wapper
        aside
          include ../_layouts/_sidebar2
        .content__wapper
          include ../_components/_box-register-free
          include ../_components/_list-news
          include ../_components/_accordion-service
    include ../_components/_register_email
