extends ../_layouts/_layouts
include ../_mixins/_image

block content
  .main-page
    include ../_components/_crumbar
    .container
      .main__wapper
        aside
          include ../_layouts/_sidebar
        .content__wapper
          include ../_components/_detail_service
          include ../_components/_box-gift
          include ../_components/_accordion-service

