.carousel-banner
    .carousel.carousel--banner.js-carousel-logo
      .carousel__item
        a(href="#" title)
          +image-lazy('img/banner/banner-1.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/banner/banner-1.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/banner/banner-1.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/banner/banner-1.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/banner/banner-1.jpg', 'carousel__image', 'contain')
      .carousel__item
        a(href="#" title)
          +image-lazy('img/banner/banner-1.jpg', 'carousel__image', 'contain')
